**.classpath
**.project
*.settings/org.eclipse.jdt.core.prefs
*/target
target/
.metadata/*
.metadata/
RemoteSystemsTempFiles/*
RemoteSystemsTempFiles/
*~
**.idea*
**.iml
*.ipr
*.iws
.DS_Store/*
.DS_Store/
.settings/
